

.search {

    margin: 10px;

}

.today {
    margin: 10px;
}

.day {
    display: inline-block;
    width: 16%;
    margin-right: 20px;
    margin-top: 10px;
    background: lightblue;
}

.card-title {
    text-transform: capitalize;
}

li {
    text-transform: capitalize;
}

#forecast {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.forecast {
    margin-left: 10px;
}

h4 {
    margin: 10px;
}